.custom-footer {
  display: none;
}

@media (max-width: 768px) {
  .custom-footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100vw;
    z-index: 1000;
    padding: 1rem;
    box-shadow: #2b2b2bee 3px 0px 5px 0px;
    transition: all 400ms ease-in-out;
  }

  .custom-footer.open {
    height: 100%;
    transition: all 400ms ease-in-out;
  }
}
