.custom-navbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  color: white;
  width: 100vw;
  z-index: 1000;
  padding: 1rem;
  box-shadow: #2b2b2bee 3px 0px 5px 0px;
}

a.custom-nav-link {
  color: black;
}

.nav-container {
  flex-direction: row;
}
