.custom-navbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  border-bottom: solid 3px black;
  width: 100vw;
  z-index: 1000;
  padding: 1rem;
}

a.custom-nav-link {
  color: black;
}
