.custom-navbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  border-bottom: solid 2px black;
  width: 100vw;
  z-index: 1000;
  padding: 1rem;
  box-shadow: black 1px 1px 4px;
}
