h1.header-font {
  font-family: "Helvetica Neue";
  font-size: 30px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  text-transform: uppercase;
}

h3.sub-header-font {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  font-size: 25px;
  font-variant: normal;
  font-weight: 700;
}

h3.sub-header-font.blog-title {
  font-size: 15px;
}

p.blog-date-header {
  margin-top: 2px;
  font-size: 12px;
}

.background-number-font {
  font-size: 100px !important;
  color: rgba(255, 193, 7, 0.7);
  margin: 0;
}

.swipe-interaction-font {
  font-size: 12px;
  font-weight: 200;
  color: rgba(50, 50, 50, 0.7);
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (min-width: 768px) {
  h1.main-header-font {
    font-size: 50px;
  }
}

/* Mobile Fonts */

@media (max-width: 576px) {
  h3.sub-header-font {
    font-size: 20px;
  }

  h1.header-font {
    font-size: 25px;
  }

  h1.header-font.blog-title {
    font-size: 20px;
  }

  p.paragraph-font {
    font-size: 12px;
  }
}
