.italic {
  font-style: italic !important;
}

.main-title,
.nav-title {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3.5rem;
}

.nav-title {
  font-size: 18pt;
  margin-bottom: 0.15em;
}

.loading-font {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 700;
  font-size: 24pt;
}

h1.header-font {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 120pt;
  margin-bottom: 12px;
  font-variant: normal;
  line-height: 1em;
}

h3.sub-header-font {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 900;
  line-height: 1em;
  font-variant: normal;
  font-style: normal;
  font-size: 48pt;
  margin-bottom: 10px;
}

p.paragraph-font {
  font-family: vendetta, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1em;
  font-size: 24pt;
  widows: 1;
}

.contact-form {
  font-family: vendetta, serif;
  font-size: 24pt;
  line-height: 1.1em;
}

.contact-form > a {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-size: 16pt;
  line-height: 1.1em;
}

.fw-700 {
  font-weight: 700 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-300 {
  font-weight: 300 !important;
}

@media (min-width: 768px) {
  h1.main-header-font {
    font-size: 60px;
  }
}

/* Mobile Fonts */

@media (max-width: 576px) {
  h3.sub-header-font {
    font-size: 36pt;
    word-wrap: break-word;
  }

  h1.header-font {
    font-size: 64pt;
    word-break: normal;
    hyphens: auto;
  }

  p.paragraph-font {
    font-size: 18pt;
    hyphens: auto;
  }

  .contact-form {
    font-family: vendetta, serif;
    font-size: 18pt;
    line-height: 1.1em;
  }

  .contact-form > a {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 400;
    font-size: 16pt;
    line-height: 1.1em;
  }

  .nav-title {
    font-size: 1.35rem;
    letter-spacing: 0.5pt;
    margin: 0;
    margin-top: 2px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
}
