/* TYPEFACES */

.elektrix-bold {
  font-family: elektrix, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.elektrix {
  font-family: elektrix, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.main-title {
  font-family: hero-new, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 3.5rem;
}

h1.header-font {
  font-family: hero-new, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 30px;
  font-variant: normal;
  text-transform: uppercase;
}

h3.sub-header-font {
  font-family: hero-new, sans-serif;
  font-weight: 700;
  font-variant: normal;
  font-style: normal;
  font-size: 25px;
}

h3.sub-header-font.blog-title {
  font-size: 15px;
}

p.blog-date-header {
  margin-top: 2px;
  font-size: 12px;
}

p.paragraph-font {
  font-family: hero-new, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.background-number-font {
  font-size: 100px !important;
  color: rgba(255, 193, 7, 0.7);
  margin: 0;
}

.swipe-interaction-font {
  font-size: 12px;
  font-weight: 200;
  color: rgba(50, 50, 50, 0.7);
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (min-width: 768px) {
  h1.main-header-font {
    font-size: 50px;
  }
}

/* Mobile Fonts */

@media (max-width: 576px) {
  h3.sub-header-font {
    font-size: 20px;
  }

  h1.header-font {
    font-size: 25px;
  }

  h1.header-font.blog-title {
    font-size: 20px;
  }

  p.paragraph-font {
    font-size: 12px;
  }

  .main-title {
    font-size: 1.7rem;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .main-title {
    font-size: 3.5rem;
  }
}
