body {
  color: black;
}

.website-margin {
  margin: 0px 30px 150px;
}

/* Button styling */

.custom-primary-btn {
  color: red !important;
  border: solid red 1px;
  border-radius: 0.25rem;
  width: fit-content;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  height: fit-content;
}

.custom-primary-btn:hover {
  background-color: rgba(255, 0, 0, 0.33);
  text-decoration: none;
  cursor: pointer;
  color: red !important;
}

/* ----------------- */

.pdf-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  z-index: 100;
  position: relative;
}

.sidebar-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black !important;
}

.sidebar-link {
  color: black;
}

.featured-project-img {
  max-width: 55%;
  max-height: 100%;
  height: auto;
  object-fit: cover;
}

.featured-project-card {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  margin: 75px 0px;
}

.featured-project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  padding-left: 15px;
}

.divider {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  margin-top: calc(20px - 0.75rem);
  margin-bottom: 19px;
}

.flex-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

@media (min-width: 768px) {
}

/* Side-scrolling interaction */

@media (max-width: 768px) {
  .ndd-sidebar {
    display: none;
  }

  .website-margin {
    margin: 0px 15px 150px;
  }

  .featured-project-img {
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .featured-project-text {
    min-width: 100%;
    padding-left: 0px;
  }

  .featured-project-card {
    height: fit-content;
  }
}
